<ion-header>
  <ion-toolbar>
    <ion-title>
      Responder
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="map_canvas" style="height: 100%;"></div>
    <div id="extras" *ngIf="currentAlert">
      <p *ngIf="currentAlert">{{ currentAlert.time | dateAgo }}</p>
      <ion-button *ngIf="currentAlert" [href]="gmapsLink">
        Directions
      </ion-button>
      <ion-button color="warning" (click)="ResolveButton()">
        All Secure
      </ion-button>
    </div>
</ion-content>
